.spinner-container {
  position: absolute;
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  height: 100%;
  width: 100%;
  top: 87px;
  right: 0;
}

img {
  position: absolute;
  top: 20%;
  left: calc(50% - 45px);
  width: 130px;
}
