.today-container {
  text-align: center;
}

.today-container img {
  width: 15%;
}

.location-name {
  margin-top: 110px;
  margin-bottom: 0;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 0;
}

.temp h1 {
  margin-top: 0;
}

.temp-number {
  width: calc(50% + 70px);
  text-align: right;
}

.state-name {
  font-size: 1.05rem;
}

.temp {
  display: flex;
}

.empty-temp {
  width: calc(50% + 35px);
}
